body{
  background-color: rgb(243, 243, 243);
  letter-spacing: 0.1rem;
  font-family: 'Asap', sans-serif;
  color: rgb(61, 61, 61);
}

nav{
  display: flex;
  background-color: rgb(233, 233, 233);
  font-size: 2.5rem;
  border-bottom: rgb(61, 61, 61) 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav>:nth-child(1){
  margin-left: 2rem;
  margin-right: 2rem;
}

nav>:nth-child(2){
  margin-left: auto;
}

nav>:nth-child(3){
  margin-left: 2rem;
  margin-right: 2rem;
}

nav>:nth-child(4){
  /* margin-left: 0rem; */
  margin-right: 2rem;
}


a{
  /* color: white; */
  color: rgb(61, 61, 61);
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  
  /* font-size: 1.6rem; */
  transition: color 0.2s ease-in;
}

a:hover{
  color:rgb(91, 91, 91);
  text-decoration: underline 2px;
}

h2{
  /* color: rgb(61, 61, 61); */
  margin-top: 20%;
  text-align: center;
  font-size: 3rem;
}

.ListaProduse{
  margin-left: 10%;
  font-size: 1.4rem;
  /* color:rgb(61, 61, 61); */
}

li{
  margin-top: 0.7rem;
}

.buttonDelete{
  margin-left: 1rem;
  padding: 4px 6px 4px 6px;
  font-size: 1.2rem;
  background-color: whitesmoke;
  border: 2px rgb(61, 61, 61) solid;
  border-radius: 5px;
  transition: 0.2s ease-out;
}

.buttonDelete:hover{
  color: red;
  cursor: pointer;
  border: red solid 2px;
  background-color: rgb(255, 254, 254);
  box-shadow: red 1px 1px;
}

.despre{
  font-size: 5rem;
  background-color: rgb(233, 233, 233);
  color: rgb(61, 61, 61);
  margin-top: 5%;
  border-top:rgb(61, 61, 61) 3px solid;
  border-bottom:rgb(61, 61, 61) 3px solid;
  
}

.despre >p{
  margin: 0% 20%;
  padding: 10% 10%;
  text-align: center;
}

 #bere{
  color: rgb(236, 192, 46);
  text-decoration: underline 2px black;
  
}

#bere:hover{
  color: rgb(236, 202, 58);
  text-decoration: underline 2px black;
  
}


#vin{
  color: rgb(160, 14, 43);
  text-decoration: underline 2px black;
}

#vin:hover{
  color: rgb(133, 7, 32);
  text-decoration: underline 2px black;
}

#vin :hover{
  text-decoration: underline 0px white;
}

.LogInForm{
  align-content: center;
}
form{
  margin-top: 5%;
}